#header {
    height: 40px;
    margin: auto;
    width: 500px;
}

#message {
    font-size: 25px;
    height: 40px;
    line-height: 40px;
    width: 300px;
}

#play-again {
    border-radius: 10px;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    width: 200px;
}

#content {
    margin: 20px auto;
    width: 520px;
}

#board {
    height: 500px;
    margin: 20px auto;
    width: 500px;
}

#pin-container {
    margin: auto;
    width: 500px;
}

#game-pin {
    margin-right: 10px;
}
